= form_with model: Tweet.new, url: tweets_path, method: :post, data: { controller: 'tweet-form'}, class: "w-100" do |f|
  =f.text_area :body, placeholder: "What's heppening?", class: "form-control tweet-input w-100 mb-4"
  .d-flex.justify-content-end
    =f.submit class: "btn btn-lg btn-twitter rounded-pill"